.visualizer
  width: 100%
  overflow: hidden

  *
    font-size: 0.8rem
    color: #8dc927

  .visualizer--click-target
    cursor: pointer

  .visualizer---row
    pointer-events: none

  .visualizer---row-container
    font-size: 14px
